
<div class="large-12 columns">
  <img src="<%= game.image %>" alt="<%= game.name %>">
  <h2><%= game.name %></h2>
  <% { %>
    <a href="/games/<%= game.id %>/edit">Edit</a>
    <form method="POST" action="/games/<%= game.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    <a href="/games">Back</a>
    </form>
  <% } %>
  <p>
    <p>Game: <%= game.game %></p>
    <p>Console: <%= game.console %></p>
    <p>Prize money: £<%= game.prizeMoney %></p>
    <p>Gaming website: <%= game.gamingWebsite %></p>
    <p>Players needed: <%= game.playersNeeded %></p>
    <p>Tournament: <%= game.tournament %></p>
    <p>Gamer Tag: <%= game.gamerTag %></p>
    <p>Created By: <%= game.user.username %></p>
  </p>
</div>

<% if(locals.isAuthenticated) { %>
  <section>
    <h4>Leave a comment</h4>
    <form method="POST" action="/games/<%= game.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
    </form>
  </section>
<% } %>

<section>
  <h4>Comments</h4>
  <% game.comments.forEach((comment) => { %>
    <p><%= comment.content %></p>
    <small><%= comment.user.username %></small>

    <% if(locals.isAuthenticated) { %>
      <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
  <% }) %>
</section>
